.display-games{
    width: 100%;
    margin: 0;
    margin-top: 3%
}

.odd{
    background-color: #1a858aba;
}

.even{
    background-color: #425f9e; 
}

.quiz-header{
    margin-left: 20%;
	color: whitesmoke
}

.game-title-class {
    color: white;
    text-align: center;
}

.display-game-name {
    color: whitesmoke;
    text-align: center;
 }