<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button (click)="_commonService.onBackPressed()" text="Back" icon="arrow-round-back" default-href="login"></ion-back-button>
      </ion-buttons>
     <div class="quiz-header">Quiz</div>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding >
    <ion-list no-padding  *ngIf="_commonService.getAllGameList().length !== 0" lines="none">
        <ion-item *ngFor="let game of games; let i = index" >
          <ion-card class="display-games" (click)="openGame(game.id)">
            <ion-card-header>
              <ion-card-title class="game-title-class" style="color:whitesmoke;">{{game.gameTitle}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ion-list>
      
      <ion-card *ngIf="_commonService.getAllGameList().length === 0" color="secondary">
        <ion-card-content style="color:aliceblue">
            Currently there is no item(s).
        </ion-card-content>
      </ion-card>
</ion-content>
