.display-games{
    width: 100%;
    margin: 0;
    background-color: #1db6bdba;
}

.quiz-header{
    margin-left: 20%;
	color: whitesmoke
}

.game-title-class {
    color: white;
    text-align: center;
}