<ion-header >
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" >
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Upcoming Matches</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <ion-list no-padding  *ngIf="isItemLoaded">
    <ion-item *ngFor="let item of items; let i = index" color="dark">
      
      {{item.title}}
      <div class="item-note">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  
  <ion-card *ngIf="!isItemLoaded">
    <ion-card-content style="color:aliceblue">
        Currently No item in list
    </ion-card-content>
  </ion-card>
 
<ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="home" href="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Profile" href="/profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>
</ion-content>
